.card{box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;}
.card-01 .card-body{position:relative; padding-top:40px;}
.card-01 .badge-box{position:absolute; top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;}
.card-01 .badge-box i{background-color: rgb(114, 158, 198); color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;}
.video-foreground{float:left;width:100%; height:500px;}

.btn-default{
  margin-top: 10px;
border: 2px solid #1b2838;
color: #1b2838;
border-radius: 40px;
padding: 5px 20px 5px 20px;
font-size: 14px;
line-height: 18px;
}
button.close span{
  font-family: sans-serif;
}
.alert{
  font-size: 16px;
}
.zigzag::after{
  content: "";
  background: url(../img/zigzag.svg);
  position: relative;
  top: 0px;
  width: 70px;
  height: 28px;
  display: block;
  left: -10px;
  transform: scale(0.7);
}
.info-camp-block ul{
 list-style-type: disc;
 padding: 0 0 15px 40px;
}

.info-camp-block p{
  padding: 0 0 15px;
  font-size: 16px;
}
.btn-lg {
  font-size: 1.7em;
      padding: 15px 48px;
      text-transform: uppercase;
}
.btn-default:hover, .btn-default:active{
  border-color: rgb(114, 158, 198);
  color: rgb(114, 158, 198);
}

.img-profile {
  position: relative;
}
ul{
  padding-left:0;
}
.img-profile .name-profile {
  left: -22%;
  position: absolute;
  top: 23.2%;
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#172332+0,33373d+100&amp;1+0,0+100 */
  background: -moz-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51, 55, 61, 1)), color-stop(100%, rgba(51, 55, 61, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172332', endColorstr='#0033373d', GradientType=0);
  /* IE6-9 */
}

.img-profile .name-profile span {
  color: #ffffff;
  opacity: .95;
  font-family: "Exo 2", Arial, sans-serif;
  padding: 0 15px 0px 30px;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.img-profile .name-profile span sup {
  font-size: 8px;
  line-height: 5px;
}

.main-nav ul li {
  position: relative;
  border-bottom: 1px solid #2d3d51;
}
.block-quote .block-img {
    position: absolute;
    right: -40px;
    top: 25px;
}
.block-quote .block-img img {
    width: 85px;
    height: 85px;
    border: 10px solid #ffffff;
}
.block-quote {
  background: rgb(232, 236, 238);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 32px;
  padding: 40px;
  position: relative;
}
.block-quote .block-icon {
    background: rgb(232, 236, 238);
    border: 5px solid #ffffff;
    font-size: 16px;
    height: 40px;
    line-height: 32px;
    text-align: center;
    width: 40px;
}
.block-quote .block-icon {
    position: absolute;
    right: -18px;
    top: 120px;

}
.block-quote blockquote {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    color: #666666;
}
.main-nav ul li:last-child {
  border-bottom: none;
}
.main-nav ul li a.active {
  color: #ffffff!important;
  background: rgb(114, 158, 198);
}
.main-nav ul li a {
  display: table;
  text-align: right;
  background: #172332;
  color: rgb(114, 158, 198)!important;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 25px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
}

.main-nav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(114, 158, 198);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.main-nav li a:hover, .main-nav li a:focus, .main-nav li a:active {
  color: #ffffff!important;
}

.main-nav li a:hover:before, .main-nav li a:focus:before, .main-nav li a:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.main-nav ul li a.active:before {
  color: #ffffff;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(114, 158, 198);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}



.main-nav ul li a i {
  position: absolute;
  left: 25px;
  font-size: 22px;
}

.social li {
  display: inline-block;
  margin-right: 2px;
  text-align: center;
}

.social a {
  border: 2px solid #172332;
  color: #172332;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.social li i {
  line-height: 32px;
  font-size: 12px;
}

.social a:hover {
  border: 2px solid rgb(114, 158, 198);
  color: rgb(114, 158, 198);
}

.bottom-header p {
  margin-top: 10px;
  font-size: 13px;
}


/*End header*/


/*Tabs sections*/

.content {
  padding: 40px;
}

.content.single {
  padding: 10px 40px 0;
}


/*------------------------ About section ------------------------*/

.about {
  overflow: hidden;
}

.about .profile h1 {
  font-size: 28px;
  line-height: 25px;
}

.about .profile h3 {
  font-size: 22px;
  color: #777777;
}

.info ul.info-list {
  border: 1px solid #efefef;
  text-align: center;
}

.info ul.info-list li {
  border-bottom: 1px solid #efefef;
  background: #fafafa;
  font-size: 14px;
}

.info ul.info-list li .inf, .info ul.info-list li .value {
  display: inline-block;
  padding: 8px 0;
}

.info ul.info-list li .inf {
  width: 35%;
  left: -1px;
  position: relative;
  border-right: 1px solid #efefef;
  color: #1b2838;
}

.info ul.info-list li .value {
  width: 63%;
  color: #666666;
  position: relative;
}

.info ul.info-list li:last-child {
  border-bottom: none;
}

/*------------------------ End about section ------------------------*/


/*------------------------ Blog section ------------------------*/

.post-title a, .post-title h1, span.meta-date {
  display: inline-block;
}

.post-title h1, .post-title a {
  font-size: 24px;
  text-transform: none;
  color: inherit;
}

span.meta-date {
  background: rgb(114, 158, 198);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #ffffff;
  font-size: 10px;
  margin-left: 20px;
  padding: 0 12px;
  text-transform: uppercase;
  position: relative;
  top: -4px;
}

.block-post p {
  margin-bottom: 25px;
}

.block-post hr {
  margin-top: 0;
}

.block-post.single p {
  margin-bottom: 15px;
}

.block-posts .block-post:last-child .divider-m {
  display: none;
}

.block-posts .block-post:last-child {
  margin-bottom: 40px;
}

.block-posts .block-post.single:last-child {
  margin-bottom: 0;
}

.embed-video {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 56%;
}

.embed-video iframe {
  border: 0 none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.author a {
  color: #292c31;
  font-size: 12px;
  text-transform: uppercase;
}

.pagination ul {
  display: inline-block;
}

.pagination ul li {
  color: #cccccc;
  display: inline;
  font-size: 12px;
}

.pagination ul li.prev a {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}

.pagination ul li.next a {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
}

.pagination ul li a {
  background: #ffffff;
  color: #cccccc;
  float: left;
  height: 35px;
  line-height: 36px;
  margin-right: 5px;
  width: 35px;
  border: 1px solid #efefef;
}

.pagination ul li a:hover, .pagination ul li span:hover {
  color: #172332;
}

.pagination ul li a.selected {
  color: rgb(114, 158, 198);
}

.pagination ul li i {
  margin: 0;
  width: auto;
}


/*------------------------ End blog section ------------------------*/


/*------------------------ Contact section ------------------------*/

#map {
  height: 390px;
}

.info-holder {
  border: 1px solid #efefef;
  padding: 20px;
  text-align: center;
}

.address-info {
  position: relative;
}

.address-info p {

  font-size: 18px;
  padding-bottom: 40px;
  padding-top: 40px;
  line-height: 30px;
}

.address-info i {
  background: rgb(114, 158, 198);
  color: #ffffff;
  display: inline-block;
  font-size: 28px;
  height: 90px;
  left: 50%;
  line-height: 60px;
  margin-left: -50px;
  position: absolute;
  top: -70px;
  width: 90px;
  border: 15px solid #ffffff;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.address-info {
  font-size: 14px;
  text-align: center;
}

.contact-info a {
  color: rgb(114, 158, 198);
}

.contact-info li {
  display: inline-block;
  position: relative;
  width: 200px;
}

.contact-info ul {
  padding-bottom: 25px;
}

.contact-info li .ico {
  color:  rgb(114, 158, 198);
  background: #253447;
  font-size: 24px;
  height: 80px;
  left: 50%;
  line-height: 48px;
  margin-left: -36px;
  position: absolute;
  top: 28px;
  width: 80px;
  border: 15px solid #ffffff;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* -------------------- Media queries -------------------- */


/*iPad lanscape*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

  #map {
    height: 300px;
  }
  .address-info i {
    margin-left: -45px;
  }
  .address-info p {
    margin: 0 auto;
    padding-bottom: 20px
  }
  .address-info p {
    line-height: 30px;
    margin-bottom: 80px;
  }
  .contact-info li {
    width: auto;
    padding-bottom: 80px;
    display: block;
    text-align: center;
  }
  .contact-info li:last-child {
    padding-bottom: 0;
  }
  .contact-info li .ico {
    top: -80px;
  }
  .img-profile .name-profile {
    display: none;
  }
}


/* Tablet Portrait size -> standard 960 */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .nopr {
    padding-right: 15px;
}
.img-profile{
  display: none;
}
  .main-nav.tabbed ul li {
    float: left;
    width: 25%;
    border-right: 1px solid #2d3d51;
    border-bottom: none;
  }
  .main-nav.tabbed ul li:last-child {
    border-right: none;
    border-bottom: none;
  }
  .img-profile .name-profile {
    display: none;
  }
  .bottom-header {
    margin-bottom: 10px;
  }
  .info ul.info-list li .inf {
    left: -4px;
  }
  .info ul.info-list {
    margin-bottom: 10px;
  }

  .block.service div {
    margin-bottom: 30px;
  }
  .block.service div:last-child {
    margin-bottom: 0;
  }
  #map {
    height: 300px;
  }
  .address-info i {
    margin-left: -45px;
  }
  .address-info p {
    line-height: 30px;
    margin-bottom: 60px;
  }
  .contact-info li {
    width: auto;
    padding-bottom: 80px;
    display: block;
    text-align: center;
  }
  .contact-info li:last-child {
    padding-bottom: 0;
  }
  .contact-info li .ico {
    top: -80px;
  }
}


/* Mobile Landscape Size -> Tablet Portrait size*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .main-nav.tabbed ul li {
    float: left;
    width: 25%;
    border-right: 1px solid #2d3d51;
    border-bottom: none;
  }
  .main-nav.tabbed ul li a {
    font-size: 0;
  }
  .main-nav.tabbed ul li:last-child {
    border-right: none;
    border-bottom: none;
  }
  .main-nav.tabbed ul li a i {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .img-profile .name-profile {
    display: none;
  }
  .bottom-header {
    margin-bottom: 10px;
  }
  .info ul.info-list {
    margin-bottom: 10px;
  }
  .info ul.info-list li .inf {
    left: -2px;
  }

  .nopr {
      padding-right: 15px;
  }
  .block.service div {
    margin-bottom: 30px;
  }
  .block.service div:last-child {
    margin-bottom: 0;
  }
  .filter li {
    display: block;
    margin: 10px 0;
  }

  .post-title h1, .post-title a {
    line-height: 30px;
    display: block;
  }
  span.meta-date {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #map {
    height: 300px;
  }
  .address-info i {
    margin-left: -45px;
  }
  .address-info p {
    line-height: 30px;
    margin-bottom: 60px;
  }
  .contact-info li {
    width: auto;
    padding-bottom: 80px;
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .contact-info li:last-child {
    padding-bottom: 0;
  }
  .contact-info li .ico {
    top: -80px;
  }
  .img-profile{
    display: none;
  }
    .main-nav.tabbed, .main-nav.tabbed li {
      background: #172332;
    }
    .main-nav.tabbed ul li {
      float: left;
      width: 25%;
      border-right: 1px solid #2d3d51;
      border-bottom: none;
    }
    .margLTop {
      margin-top: 0px;
    }
    .margLBottom {
      margin-bottom: 0px;
    }
}


/* Mobile Portrait Size -> Mobile Landscape Size */

@media only screen and (max-width:479px) {
  .nopr, .mainBlock {
    padding: 0px;
}
.margLTop {
  margin-top: 0px;
}
.margLBottom {
  margin-bottom: 0px;
}
.container, .row{
  padding: 0;
  margin: 0;
}
.content {
    padding:15px;
}
.btn-default{
  font-size: 18px;
  line-height: 24px;
  margin: 15px auto 0;
  display: block;
}
.card-title{
  font-size: 18px;
}
.btn-lg{
  display: inline-block;
white-space: normal;
line-height: 30px;
padding: 6px 0px;
font-size: 1.6em;
}
.content.single {
        padding: 15px;
}
.img-profile{
  display: none;
}
  .main-nav.tabbed, .main-nav.tabbed li {
    background: #172332;
  }
  .main-nav.tabbed ul li {
    float: left;
    width: 25%;
    border-right: 1px solid #2d3d51;
    border-bottom: none;
  }
  .main-nav.tabbed ul li a {
    font-size: 0;
  }
  .main-nav.tabbed ul li:last-child {
    border-right: none;
    border-bottom: none;
  }
  .main-nav.tabbed ul li a i {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .about .profile h1 {
    font-size: 25px;
  }
  .about .profile h3 {
    line-height: 30px;
    font-size: 20px;
  }
  .img-profile .name-profile {
    display: none;
  }
  .bottom-header {
    margin-bottom: 10px;
  }
  .info ul.info-list {
    margin-bottom: 10px;
    border-left: 0;
  }
  .info ul.info-list li {
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
  }
  .info ul.info-list li .inf {
    width: 100%;
    border-right: 0;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
        font-size: 18px;
  }

  .info ul.info-list li .value{
    width: 100%;
  }
  .block.service div {
    margin-bottom: 30px;
  }
  .block.service div:last-child {
    margin-bottom: 0;
  }
  .block-quote {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .block-quote .block-img, .block-quote .block-icon {
    display: none;
  }
  .filter li {
    display: block;
    margin: 10px 0;
  }

  .post-title h1, .post-title a {
    line-height: 30px;
    display: block;
  }
  span.meta-date {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pagination ul li.prev a {
    border-left: 1px solid #efefef;
  }
  .pagination ul li a {
    margin-right: 0;
    border-left: 0;
  }
  .block-single h1.large-title {
    font-size: 25px;
    line-height: 40px;
  }
  .block-single.margBottom {
    margin-bottom: 20px !important;
  }
  .comments .author-img {
    float: none;
  }
  .comment-content {
    margin-left: 0;
    margin-top: 60px;
  }

  #map {
    height: 200px;
  }
  .address-info i {
    margin-left: -45px;
  }
  .address-info p {
    line-height: 30px;
    margin-bottom: 60px;
  }
  .contact-info li {
    width: auto;
    padding-bottom: 80px;
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .contact-info li:last-child {
    padding-bottom: 0;
  }
  .contact-info li .ico {
    top: -80px;
  }
  .button .but {
    margin-bottom: 10px;
  }
  .block-quote blockquote {
    padding-right: 0;
  }
}


/* -------------------- End media queries -------------------- */
